.Tracklist {
  width: 80%;

  display: flex;
  flex: 1 0 auto;
  flex-flow: column nowrap;
  align-items: center;
  align-self: center;

  .card {
    display: flex;
    width: 80%;
    margin: 20px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      width: 82%;
    }

    &.selected {
      width: 83%;
      box-shadow: 0 0 0 2px rgba(29, 185, 84, 0.5);
    }

    &.recommended {
      cursor: default;

      &:hover {
        width: 80%;
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1 0 auto;
    padding-right: 40px;
  }

  .cover {
    width: 100px;
    margin-left: auto;
    flex-shrink: 0;
  }

  .recommended-btn {
    background-color: #1db954;

    &:hover {
      background-color: #1ed760;
    }
  }
}

