@import '../../queries';

.Tracklist {
  width: 80%;

  display: flex;
  flex: 1 0 auto;
  flex-flow: column nowrap;
  align-items: center;
  align-self: center;

  @include mobile {
    width: 95%;
  }

  .card {
    display: flex;
    width: 80%;
    margin: 20px;
    cursor: pointer;
    transition: 0.3s;

    @include large-screen {
      width: 60%;
    }

    @include mobile {
      width: 97%;
    }

    &:hover {
      width: 82%;

      @include large-screen {
        width: 62%;
      }

      @include mobile {
        width: 97%;
      }
    }

    &.selected {
      width: 83%;
      box-shadow: 0 0 0 2px rgba(29, 185, 84, 0.5);

      @include large-screen {
        width: 63%;
      }

      @include mobile {
        width: 99%;
      }
    }

    &.recommended {
      cursor: default;

      &:hover {
        width: 80%;

        @include large-screen {
          width: 60%;
        }

        @include mobile {
          width: 97%;
        }
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1 0 auto;
    padding-right: 40px;
  }

  .cover {
    width: 100px;
    margin-left: auto;
    flex-shrink: 0;
  }

  .recommended-btn {
    background-color: #1db954;
    margin: 10px 0;

    &:hover {
      background-color: #1ed760;
    }
  }
}

